---
export interface Props {
    chrome?: string;
    description: string;
    firefox?: string;
    github?: string;
    home?: string;
    icon?: string;
    iconAlt?: string;
    name: string;
}

const { chrome, description, firefox, github, home, icon, iconAlt, name } = Astro.props as Props;
---

<div class="rounded-3xl bg-light-2 p-6 dark:bg-dark-2">
    <div class="flex flex-col gap-4">
        <div class="flex flex-col justify-between gap-4">
            <div class="flex items-center gap-4 align-middle">
                {icon && <img alt={iconAlt} class="h-14 w-14 select-none rounded-xl" src={icon} />}
                <span class="h3">{name}</span>
            </div>
            <div class="grid grid-cols-[repeat(auto-fit,3.5rem)] gap-4">
                {
                    github && (
                        <a
                            href={github}
                            target="_blank"
                            class="bg-light-3 hover:bg-light-4 dark:bg-dark-3 dark:hover:bg-dark-4 group flex h-10 w-14 place-content-center items-center rounded-3xl hover:rounded-2xl transition-all"
                        >
                            <img alt="GitHub icon" class="select-none" src="/mark-github.svg" />
                        </a>
                    )
                }
                {
                    home && (
                        <a
                            href={home}
                            target="_blank"
                            class="bg-light-3 hover:bg-light-4 dark:bg-dark-3 dark:hover:bg-dark-4 group flex h-10 w-14 place-content-center items-center rounded-3xl hover:rounded-2xl transition-all"
                        >
                            <img alt="Icon of a home" class="select-none" src="/home-fill.svg" />
                        </a>
                    )
                }
                {
                    chrome && (
                        <a
                            href={chrome}
                            target="_blank"
                            class="bg-light-3 hover:bg-light-4 dark:bg-dark-3 dark:hover:bg-dark-4 group flex h-10 w-14 place-content-center items-center rounded-3xl hover:rounded-2xl transition-all"
                        >
                            <img alt="Chrome logo" class="select-none" src="/chrome.svg" />
                        </a>
                    )
                }
                {
                    firefox && (
                        <a
                            href={firefox}
                            target="_blank"
                            class="bg-light-3 hover:bg-light-4 dark:bg-dark-3 dark:hover:bg-dark-4 group flex h-10 w-14 place-content-center items-center rounded-3xl hover:rounded-2xl transition-all"
                        >
                            <img alt="Firefox logo" class="select-none" src="/firefox.svg" />
                        </a>
                    )
                }
            </div>
        </div>
        <span class="h6 dark:text-dark-2 text-light-2">{description}</span>
    </div>
</div>
