---
import '../styles/base.css';

export interface Props {
    description: string,
    icon: string,
    titleMeta: string;
}

const { description, icon, titleMeta } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <link href={icon} rel="shortcut icon" type="image/x-icon" />
        
        <!-- General Meta Tags -->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta content="width=device-width" name="viewport" />
        <meta content={Astro.generator} name="generator" />
        <title>{titleMeta}</title>
        <meta content={description} name="description" />
        <meta content="#f40407" name="theme-color" />
    
        <!-- Open Graph -->
        <meta property="og:type" content="website" />
        <meta property="og:title" content={titleMeta} />
        <meta
            property="og:description"
            content={description}
        />
        <meta property="og:image" content={icon} />
    
        <!-- Twitter -->
        <meta property="twitter:title" content={titleMeta} />
        <meta
            content={description}
            property="twitter:description"
        />
        <meta property="twitter:image" content={icon} />
    </head>
    <body class="dark:bg-dark-1 bg-light-1 font-sans text-light-1 dark:text-dark-1">
        <slot />
    </body>
</html>


<!-- 


    <body class="flex flex-col dark:bg-dark-1 bg-light-1 font-sans text-light-1 dark:text-dark-1">
        <Header icon="/pfp.webp" site={site}>
            <Link href="/projects" label="Projects" target="_self" />
            <Link href="https://github.com/Attituding" label="GitHub" />
            <Link href="https://www.youtube.com/channel/UCyI7JXj02uBCPprhTREtRsQ" label="YouTube" />
            <Link href="mailto:attituding@outlook.com" label="Contact" />
        </Header>
        <Content>
            <slot />
        </Content>
        <Footer author="Attituding" authorHref="https://attituding.live" icon='/pfp.webp' />
    </body>
    <script>
        // Anchor stuff
        const anchors = document.querySelectorAll<HTMLAnchorElement>('a[href^="#"]');
        const header = document.getElementById('header') as HTMLDivElement;

        const scrollToAnchor = (anchor: HTMLAnchorElement) => {
            const top =
                anchor.getBoundingClientRect().top + window.pageYOffset - header.offsetHeight;

            window.scrollTo({
                top: top,
                behavior: 'smooth',
            });
        };

        anchors.forEach((anchor) => {
            anchor.addEventListener('click', () => {
                scrollToAnchor(anchor);
            });
        });

        const selectedAnchor = Object.values(anchors).find(
            (anchor) => anchor.href === document.URL,
        );

        if (selectedAnchor) {
            scrollToAnchor(selectedAnchor);
        }
    </script>
 -->
